@charset "UTF-8";

#color {
	margin-top: 30px;
	margin-bottom: 30px;
	width: 100%;
	max-width: 500px;
	table {
		width: 100%;
		min-width: 0;
		border-collapse: separate;
		border-spacing: 5px;
		input {
			width: 100%;
		}
		th {

			padding: 3px 5px;
		}
		.red {
			background-color: red;
		}
		.green {
			background-color: green;
		}
		.blue {
			background-color: blue;
		}
		.center {
			text-align: center;
		}
	}
}

