@charset "UTF-8";

main {
	.step {
		position: relative;
		margin: 25px 0;
		padding: 60px 25px 25px 25px;
		background-color: rgb(255, 255, 220);
		border: 1px black solid;
		text-indent: 0;
		font-size: 1rem;
		&:before {
			content: "対策" !important;
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			width: 100px;
			height: 40px;
			text-align: center;
			line-height: 40px;
			font-size: 1.5rem;
			border-right: 1px black solid;
			border-bottom: 1px black solid;
			background-color: rgba(red, 0.3);
		}
		ul, ol {
			margin: 0 25px;
			border: none;
			display: block;
			padding: 0;
		}
	}
	.v-writing {
		writing-mode: vertical-lr;
	}
}