@charset "UTF-8";

#v1 {
	#url-box {
		font-size: 20px;
		border-left: 5px red solid;
		padding-left: 25px;
		font-family: "consolas", "code";
		white-space: nowrap;
		#url {
			padding: 3px 10px;
			letter-spacing: 1px;
			width: calc(100% - 150px);
		}
	}
	div.container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 30px 0;
		div.flex-item {
			min-width: 250px;
			max-width: 300px;
			margin: 0 10px 10px 10px;
			padding: 25px;
			border: 1px solid black;
			div.scroll {
				max-width: 100%;
				overflow-x: auto;
			}
			table {
				margin: 0 0 25px 0;
				caption {
					white-space: nowrap;
				}
				tbody {
					font-size: 12px;
				}
				td.delete-button {
					width: 10px;
					color: white;
					background-color: black;
					white-space: nowrap;
					cursor: pointer;
				}
			}
			textarea {
				display: block;
				height: 150px;
				margin: 10px 0;
				padding: 10px;
				font-size: 1.2rem;
				font-family: "consolas", "code";
				border: 1px solid black;
			}
		}
	}
	#send-button {
		display: block;
		font-size: 20px;
		width: 120px;
		text-align: center;
		height: 40px;
		line-height: 30px;
		background-color: pink;
		border: 1px solid black;
		margin: 10px auto;
		cursor: pointer;
		&:hover {
			background-color: red;
			color: white;
		}
	}
}