@charset "UTF-8";




/*entire*/
.hidden {
	display: none;
}
p {
	text-align: center;
}
#input-box {
	text-align: center;
}

input {
	position: relative;
	display: inline-block;
	width: 70px;
	height: 70px;
	line-height: 70px;
	font-size: 50px;
	text-align: center;
	margin: 10px 15px;
	box-shadow: 5px 5px 0 0 rgb(0, 0, 0, 0.7);
}
input:focus {
	top: 5px;
	left: 5px;
	box-shadow: none;
}

#button {
	position: relative;
	width: 100px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	margin: 50px auto;
	border: 1px #000000 solid;
	background: linear-gradient(160deg, yellow 0 50%, lightyellow 60%, white 65%, lightyellow 80%, yellow 100%);
}
#button:not(.pushed) {
	box-shadow: 5px 5px 0 0 rgb(255, 255, 0, 0.5);
}
#button:not(.pushed):hover {
	background: linear-gradient(140deg, yellow 0 50%, lightyellow 60%, white 65%, lightyellow 80%, yellow 100%);
	left: 5px;
	top: 5px;
	box-shadow: none;
}
#button.pushed {
	background: linear-gradient(170deg, grey 0 50%, lightgrey 60%, white 65%, lightgrey 70%, grey 100%);
}





/*ver1*/
#calculate-list {
	min-height: 300px;
	max-height: 300px;
	margin: 30px auto;
	overflow: hidden scroll;
	border: 1px #000000 solid;
	padding: 25px;
}
#calculate-list.show {
	color: #FFFFFF;
	background-color: #000000;
}
#its10-box {
	margin: 25px auto;
	max-width: 600px;
	border: 1px #000000 solid;
	font-size: 1.5rem;
	text-align: center;
	padding: 10px;
	display: flex;
}
#its10-box div:nth-of-type(1) {
	width: 35%;
	border-right: 1px #222222 solid;
}
#its10-box div:nth-of-type(2) {
	width: 65%;
}
#its10 {
	letter-spacing: 3px;
}
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type="number"] {
	-moz-appearance: textfield;
}






/*ver2*/
svg {
	display: block;
	margin: 0 auto 100px auto;
	border: 1px #000000 solid;
	border-radius: 25px;
	width: 95%;
	max-width: 600px;
}
text {
	font-size: 30px;
	font-weight: bold;
}
#ono.ono-ono {
	transform: rotate(30deg);
	animation: ono-ono 700ms linear 100ms 8 alternate none;
}
@keyframes ono-ono {
	from {
		transform: rotate(30deg);
	}
	to {
		transform: rotate(-50deg);
	}
}
#fined {
	letter-spacing: 3px;
}






/*ver4*/
#v4-r {
	position: relative;
	color: #000000;
	background-color: #CCFFFF;
	min-height: 150px;
	max-height: 150px;
	margin: 30px auto;
	width: 90%;
	max-width: 500px;
	overflow: hidden scroll;
	border: 2px blue solid;
	padding: 5px 25px;
	box-sizing: border-box;
	box-shadow: 3px 3px rgba(0, 0, 0, 0.5);
}
#v4-r0 {
	position: absolute;
	top: 0;
	right: 0;
	display: inline-block;
	padding: 3px 10px;
	border: 1px #000000 solid;
	border-radius: 50%;
	box-sizing: border-box;
	z-index: 1;
	background-color: rgb(255, 255, 255, 0.5);
}
#v4-c {
	position: relative;
	color: #FFFFFF;
	background-color: #000000;
	min-height: 300px;
	max-height: 300px;
	margin: 30px auto;
	width: 90%;
	max-width: 500px;
	overflow: hidden scroll;
	border: 1px #000000 solid;
	box-sizing: border-box;
	padding: 5px 25px;
}
#v4-c0 {
	position: absolute;
	top: 0;
	right: 0;
	display: inline-block;
	padding: 3px 10px;
	border: 1px #FFFFFF solid;
	border-radius: 50%;
	box-sizing: border-box;
	z-index: 1;
	background-color: rgb(0, 0, 0, 0.5);
}
.v4-table td {
	padding: 3px 5px;
}
#v4-r1 {
	position: absolute;
	bottom: 0;
	right: 0;
	display: inline-block;
	padding: 3px 10px;
	color: #000000;
	z-index: 1;
}
#v4-c1 {
	position: absolute;
	bottom: 0;
	right: 0;
	display: inline-block;
	padding: 3px 10px;
	color: #FFFFFF;
	z-index: 1;
}
#v4-r::-webkit-scrollbar, #v4-c::-webkit-scrollbar {/*webkit*/
	display: none;
}
#v4-r, #v4-c {/*firefox*/
	scrollbar-width: none;
}








