@charset "utf-8";

#wrapper {
	margin: 50px auto;
	width: 90%;
	max-width: 700px;
	padding: 25px;
	h1 {
		font-size: 20px;
		font-weight: bold;
		margin: 25px 0;
	}
	input[type=submit] {
		margin-left: 25px;
	}
	#contents-folder {
		display: flex;
		flex-wrap: wrap;
	}
	input.designed-button {
		border: 1px black solid;
		background-color: lightblue;
		cursor: pointer;
		border-radius: 0;
		text-align: center;
		font-size: 16px;
		padding: 5px 25px;
		&:hover {
			color: white;
			background-color: blue;
		}
	}
}


