@charset "UTF-8";

#v3 {
	canvas {
		transform: rotate(90deg);
	}
}
#v2 {
	canvas {
		transform: rotate(90deg);
	}
}

#v1 {
	h2 {
		display: inline-block;
		padding: 10px 25px;
		border-radius: 25px;
		border: 1px solid black;
	}
	#v1-btn {
		display: inline-block;
		padding: 5px 10px;
		color: black;
		background-color: lightblue;
		&:hover {
			color: white;
			background-color: blue;
		}
		border: 1px solid black;
		cursor: pointer;
	}
	table {
		margin: 30px auto;
		border-collapse: collapse;
		th, td {
			padding: 5px 10px;
		}
	}
}