@charset "UTF-8";



.h {
	font-size: 1.2rem;
	font-weight: bold;
	text-align: center;
}


#jis25010 {
	display: flex;
	justify-content: center;
}


#adjust_jis25010 {
	width: 1rem;
}


li {
	white-space: nowrap;
}







