@charset "UTF-8";


#cia td {
	min-width: 0;
}

#importance_of_security {
	max-width: 30rem;
	padding: 1rem 1rem 1rem 2rem;
	border: 1px black solid;
}



#venn {
	max-width: 650px;
	width: 100%;
}
#venn_left {
	opacity: 0.5;
	fill: #ffff00;
	fill-opacity: 1;
	stroke: #000000;
	stroke-width: 0.258214;
	stroke-opacity: 0.5;
}

#venn_right {
	opacity: 0.5;
	fill: #00ff00;
	fill-opacity: 1;
	stroke: #000000;
	stroke-width: 0.258214;
	stroke-opacity: 0.5;
}
#venn_center {
	opacity: 1;
	fill: #FF6699;
	fill-opacity: 1;
	stroke: #000000;
	stroke-width: 0.258214;
	stroke-opacity: 0.5
}
svg {
	margin: 0 auto;
}
svg text {
font-size:24px;line-height:1.25;font-family:'Eras Light ITC';font-variant-ligatures:none;white-space:pre;
}


#question_cyberattack {
	display: inline-block;
	padding: 0.2rem 1rem;
	border: 1px black solid;
	background-color: #FFFF99;
	margin: 1rem;
}

#answer_cyberattack span:nth-child(1) {
	display: block;
	font-size: 1.2rem;
	padding: 0.2rem 1rem;
	margin: 1rem;
	text-decoration: underline;
}
#answer_cyberattack span:nth-child(2) {
	display: block;
	font-size: 1rem;
	padding: 0.2rem 1rem;
	border: 1px black solid;
}










