@charset "UTF-8";



/* ----------ページヘッダーのレイアウトボックス---------- */
#page_header {
	display: flex;
	justify-content: space-between;
}
#logo {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 200px;
	height: 100px;
}
#menu_img {
	position: fixed;
	top: 0px;
	right: 0px;
	width: 100px;
	height: 100px;
}

/* ----------ページヘッダーのレイアウトボックス---------- */

#navigator {
	position: fixed;
	overflow-y: auto;
	top: 120px;
	bottom: 30px;
	background-color: black;
	opacity: 0.85;
	width: 90%;
	margin-left: 5%;
	color: white;
	z-index: 10;
}
#navigator a:link {
	color: white;
}
#navigator a:visited {
	color: white;
}
.nav_hidden {
	display: none;
}

/* 出題範囲のelementtree処理 */
nav h2 {
	margin-left: 10px;
}

nav h4 {
	margin-left: 50px;
}

nav h6 {
	margin-left: 100px;
	color: skyblue;
}


.str_sub1 {
	border: 2px red solid;
	margin-bottom: 20px;
}

.str_sub2 {
	border: 1px deeppink solid;
	width: 70%;
	margin-left: 10%;
	margin-bottom: 15px;
}

.man_sub1 {
	border: 2px blue solid;
	margin-bottom: 20px;
}

.man_sub2 {
	border: 1px skyblue solid;
	width: 70%;
	margin-left: 10%;
	margin-bottom: 15px;
}


.tec_sub1 {
	border: 2px Lime solid;
	margin-bottom: 20px;
}

.tec_sub2 {
	border: 1px yellowgreen solid;
	width: 70%;
	margin-left: 10%;
	margin-bottom: 15px;
}



/* ----------進捗度画像とログイン状態ボックスのflex化とレイアウト調整---------- */
.login_as {
	width: 400px;
	border: 1px black dashed;
	margin: 30px;
}
.progress_img {
	width: 300px;
	height: 180px;
}
.container {
	display: flex;
	justify-content: space-between;
	margin-left: 10px;
	margin-right: 50px;
}
/* ----------進捗度画像とログイン状態ボックスのflex化とレイアウト調整---------- */




/* ----------全体に共通する事項---------- */
h1 {
	text-align: center;
	margin-bottom: 30px;
}
p {
	margin-left: 10px;
	margin-right: 10px;
}
h2 {
	border: 2px black solid;
	margin-left: 50px;
	margin-right: 50px;
	text-align: center;
	height: 50px;
	font-size: 30px;
}
h4 {
	margin-left: 30px;
	font-size: 25px;
}
h6 {
	font-size: 20px;
	font-weight: normal;
}
.normal_table {
	margin: 50px 25px;
	font-size: 20px;
}
.normal_table th {
	text-align: center;
	padding: 0 25px;
}
.normal_table td {
	text-align: left;
	padding: 0 25px;
}
table caption {
	white-space: nowrap;
}
ol, ul {
	margin-left: 30px;
}
ol li, ul li {
	font-size: 25px;
}
/* ----------全体に共通する事項---------- */





/* ----------各単語説明のdiv---------- */
.sec {
	border: 1px black dashed;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 30px;
}
.sub_sec {
    margin-top: 150px;
}
/* ----------各単語説明のdiv---------- */



/* ----------jquery表示用のdiv---------- */
.hidden {
	display: none;
	margin-left: 20px;
}
/* ----------jquery表示用のdiv---------- */


/* ----------ボタンのレイアウトcss---------- */
.button_to_test {
	display: block;
	width: 90%;
	margin-left: 5%;
	height: 100px;
	line-height: 100px;
	font-size: 30px;
	border: 3px black solid;
	background: radial-gradient(pink, yellow);	
}
.button_container {
	display: flex;
	justify-content: space-between;
}
.button_back {
	border-radius: 0 50px;
	display: block;
	width: 250px;
	height: 120px;
	line-height: 120px;
	margin: 0 auto;
	font-size: 30px;
	border: 1px black solid;
	background: linear-gradient(110deg, pink, yellow);
}
.button_next {
	border-radius: 50px 0;
	display: block;
	width: 250px;
	height: 120px;
	line-height: 120px;
	margin: 0 auto;
	font-size: 30px;
	border: 1px black solid;
	background: linear-gradient(70deg, yellow, pink);
}
.button_to_top {
	border-radius: 50px 50px;
	display: block;
	width: 180px;
	height: 70px;
	line-height: 70px;
	margin: 0 auto;
	font-size: 15px;
	border: 1px black solid;
	background: linear-gradient(0deg, yellow, pink);
	margin-top: 10px;
	margin-bottom: 10px;
}
.button_to_mypage {
	border-radius: 50px 50px;
	display: block;
	width: 180px;
	height: 70px;
	line-height: 70px;
	margin: 0 auto;
	font-size: 15px;
	border: 1px black solid;
	background: linear-gradient(180deg, yellow, pink);
	margin-top: 10px;
	margin-bottom: 10px;
}
.get_it_center {
	text-align: center;
}
/* ----------ボタンのレイアウトcss---------- */


.strong_bigger {
	font-size: 25px;
	font-weight: bold;
}




