@charset "UTF-8";


#warn {
	border: 1px black solid;
	border-radius: 1rem;
	padding: 1rem;
}

#txt {
	margin: 1rem;
}


#show {
	width: 90%;
	margin: 1rem;
	border: 1px black solid;
	padding: 1rem;
}

#xss_table th {
	min-width: 0;
}
#xss_table td {
	min-width: 5rem;
}


#head_like {
	font-size: 1.5rem;
	font-weight: bold;
	padding: 1rem;
}








.injection_table {
	background-color: white;
}
.injection_table td {
	min-width: 0;
	padding: 0 1rem;
}


.highlight0 {
	background: linear-gradient(to bottom, transparent 0% 70%, #FF9933 70% 80%, transparent 80% 100%);
}
.highlight1 {
	background: linear-gradient(to bottom, transparent 0% 70%, #66CCFF 70% 80%, transparent 80% 100%);
}
.highlight2 {
	background: linear-gradient(to bottom, transparent 0% 70%, red 70% 85%, transparent 85% 100%);
}










#iframe0 {
	width: 100%;
}
#iframe1 {
	width: 100%;
	opacity: 0.2;
}
#iframe2 {
	width: 100%;
	opacity: 0.01;
}




#bof td {
	min-width: 0;
	text-align: center;
}









