main {
  font-family: "consolas", "Consolas";
  max-width: 800px;
  margin: 50px auto;
}

main #show-box {
  margin: 25px 0;
  overflow-x: auto;
}

main #show-box table {
  border-collapse: collapse;
}

main #show-box table th, main #show-box table td {
  padding: 20px;
}

main #show-box table tr .pw-table-k input[type=text] {
  letter-spacing: 1px;
  font-size: 13px;
  text-align: right;
  padding: 0 5px;
}

main #show-box table tr .pw-table-v {
  position: relative;
  white-space: nowrap;
}

main #show-box table tr .pw-table-v input[type=text] {
  position: relative;
  border: 1px black solid;
  border-radius: 0;
  letter-spacing: -1px;
  color: grey;
  background-color: rgba(128, 128, 128, 0.5);
  z-index: 5;
}

main #show-box table tr .pw-table-v input[type=text]::-moz-selection {
  color: lightgrey;
  background-color: rgba(128, 128, 128, 0.5);
}

main #show-box table tr .pw-table-v input[type=text]::selection {
  color: lightgrey;
  background-color: rgba(128, 128, 128, 0.5);
}

main #show-box table tr .pw-table-v input[type=text]::before {
  content: "";
  position: absolute;
  inset: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(35%, grey), color-stop(40%, transparent), color-stop(60%, grey), color-stop(65%, transparent));
  background: linear-gradient(to bottom, transparent 0% 35%, grey 35% 40%, transparent 40% 60%, grey 60% 65%, transparent 65% 100%);
}

main #show-box table tr .pw-table-v input[type=button] {
  position: relative;
  width: 50px;
  margin: 3px;
  margin-left: 10px;
  cursor: pointer;
  z-index: 10;
}

main #show-box table tr .pw-table-v input[type=button].copied {
  color: white;
  background-color: black;
}

main #show-box table tr .pw-table-v::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(160deg, transparent 0% 8.5%, #969696 8.5% 10%, transparent 10% 18.5%, #969696 18.5% 20%, transparent 20% 28.5%, #969696 28.5% 30%, transparent 30% 38.5%, #969696 38.5% 40%, transparent 40% 48.5%, #969696 48.5% 50%, transparent 50% 58.5%, #969696 58.5% 60%, transparent 60% 68.5%, #969696 68.5% 70%, transparent 70% 78.5%, #969696 78.5% 80%, transparent 80% 88.5%, #969696 88.5% 90%, transparent 90% 98.5%, #969696 98.5% 100%);
  z-index: -1;
}

main #show-box table tr .pw-table-v::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(20deg, transparent 0% 8.5%, #969696 8.5% 10%, transparent 10% 18.5%, #969696 18.5% 20%, transparent 20% 28.5%, #969696 28.5% 30%, transparent 30% 38.5%, #969696 38.5% 40%, transparent 40% 48.5%, #969696 48.5% 50%, transparent 50% 58.5%, #969696 58.5% 60%, transparent 60% 68.5%, #969696 68.5% 70%, transparent 70% 78.5%, #969696 78.5% 80%, transparent 80% 88.5%, #969696 88.5% 90%, transparent 90% 98.5%, #969696 98.5% 100%);
  z-index: -1;
}

main #show-box table tr .pw-table-ud input[type=button] {
  cursor: pointer;
}

main #show-box table tr .pw-table-ud .up {
  background-color: pink;
}

main #show-box table tr .pw-table-ud .up:hover {
  color: white;
  background-color: red;
}

main #show-box table tr .pw-table-ud .down {
  background-color: lightcyan;
}

main #show-box table tr .pw-table-ud .down:hover {
  color: white;
  background-color: blue;
}

main .button-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 0;
}

main .button-box div {
  text-align: center;
  padding: 10px 25px;
  border: 1px black solid;
  position: relative;
  color: white;
  cursor: pointer;
}

main .button-box div:hover {
  top: 1px;
  left: 1px;
}

main .button-box div:nth-of-type(1) {
  background-color: red;
}

main .button-box div:nth-of-type(2) {
  background-color: blue;
  margin-left: 25px;
}

main .button-box div:nth-of-type(3) {
  background-color: black;
  margin-left: 25px;
}

main #generate-pw {
  margin: 25px 0;
  padding: 25px;
  border: 1px grey dashed;
  min-height: 250px;
  background-color: lightgray;
  overflow-x: auto;
}

main #generate-pw table {
  border-collapse: collapse;
  background-color: white;
}

main #generate-pw table th, main #generate-pw table td {
  border: 1px black solid;
  padding: 5px 15px;
}

main #generate-pw table ul {
  list-style: none;
  margin: 10px;
  padding: 0;
}

main #generate-pw table ul input[type=checkbox] {
  margin-right: 15px;
}

main #generate-pw table ul input[type=checkbox], main #generate-pw table ul label {
  cursor: pointer;
}

main #generate-pw table #button-to-generate-pw {
  display: block;
  font-size: 16px;
  margin: 0 auto;
  padding: 3px 10px;
  cursor: pointer;
}

main #generate-pw table #created-pw {
  font-size: 16px;
  font-family: "consolas", "Consolas";
  padding: 5px 15px;
}

main #generate-pw table #button-to-copy {
  width: 50px;
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}

main #generate-pw table #button-to-copy.copied {
  color: white;
  background-color: black;
  margin: 3px;
}
/*# sourceMappingURL=style.css.map */