@charset "UTF-8";


.gc {
	text-align: center;
}
svg text {
	font-size: 16px;
}
.hidden {
	display: none !important;
}


/*ver3*/
#v3-tmpl {
	margin: 30px auto;
	padding: 0 15px;
	border: 3px #FF00FF solid;
	border-radius: 25px;
	box-sizing: border-box;
	width: 1000px;
	height: 100px;
	overflow-x: hidden;
	background-color: #FFCCCC;
	display: flex;
	align-items: flex-start;
	align-content: center;
	flex-wrap: nowrap;
}
#v3-tmpl > div {
	margin: auto 10px;
	width: 80px;
	height: 80px;
	cursor: pointer;
}
#v3-tmpl svg {
	border: 1px #000000 solid;
	position: absolute;
	box-sizing: border-box;
	background-color: #FFFFCC;
}
/*added*/
#v3-mevg-sd {
	width: 300px;
	height: 50px;
	border: 1px solid rgb(0, 0, 0);
	margin: 10px 25px;
	position: relative;
}
#v3-mevg-is {
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	box-sizing: border-box;
	border-right: 5px solid black;
	background-color: transparent;
	z-index: 1;
}
#v3-mevg-sh {
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	box-sizing: border-box;
	border-right: 1px solid rgb(0, 0, 0);
}
#v3-mevg {
	display: block;
	position: relative;
	border: 1px #000000 solid;
	margin-left: 75px;
	box-shadow: 2px 2px rgba(0, 0, 0, 0.3);
	cursor: pointer;
	background-color: #FFFF00;
}
#v3-mevg circle {
	fill: #ff0000;
	stroke: #000000;
	stroke-width: 3;
}
#v3-mevg path {
	fill: transparent;
	stroke: #0000FF;
	stroke-width: 40;
}
#v3-mevg:hover {
	top: 2px;
	left: 2px;
	box-shadow: none;
}
.v3-logvg {
	background-color : #000000;
	display : block;
	margin : 10px;
	border : 1px #ffffff solid;
	box-sizing : border-box;
	cursor : pointer;
}
.v3-logvg:hover {
	background-color : #ffffff;
	border : 1px #000000 solid;
}
.v3-logvg path {
	fill: transparent;
	stroke: #ffffff;
	stroke-width: 30;
}
.v3-logvg:hover path {
	stroke: #000000;
}
.v3-logvg circle {
	fill: #000000;
	stroke: #ffffff;
	stroke-width: 10;
}
.v3-logvg:hover circle {
	fill: #ffffff;
	stroke: #000000;
}
#v3-m-adj {
	margin-right: 100px;
}
#v3-log {
	margin: 30px auto;
	padding: 10px;
	border: 1px #000000 solid;
	box-sizing: border-box;
	width: 1000px;
	height: 300px;
	overflow-y: scroll;
	background-color: #000000;
	display: flex;
	align-items: flex-start;
	align-content: flex-start;
	flex-wrap: wrap;
}
#v3-log::-webkit-scrollbar, #v3-tmpl::-webkit-scrollbar {/*webkit*/
	display: none;
}
#v3-log, #v3-tmpl {/*firefox*/
	scrollbar-width: none;
}
#v3-btn2-bx {
	text-align: center;
	height: 50px;
}
#v3-button2 {
	position: relative;
	display: inline-block;
	text-align: center;
	width: 70px;
	top: 0;
	left: 0;
	margin: 10px;
	padding: 5px 15px;
	box-shadow: 1px 3px rgba(0, 0, 0, 0.5);
	cursor: pointer;
	border: 1px #000000 solid;
	background-color: #00BFFF;
	vertical-align: middle;
}
.v3-ani, .v3-ani_li {
	background-color: #ff0000;
	animation-duration: 1.5s;
	animation-delay: 0s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: none;
	animation-play-state: running;
}
.v3-ani_li {
	background-color: transparent !important;
}
.v3-aniani {
	animation-name: v3-aniani;
}
@keyframes v3-aniani {
	from {
		right: 100%;
	}
	75%, to {
		right: 0;
	}
}
.v3-arw:hover {
	background-color: #ff0000;
}
.v3-arw:hover path {
	fill: #ffffff;
}
.v3-ico {
	background-color: #FF00FF;
}
#v3-vvdd {
	display: flex;
	justify-content: center;
	margin-right: 100px;
}
#v3-dd svg {
	box-sizing: border-box;
}
@media screen and (max-width: 1199px) {
	#v3-width_judge {
		display: none;
	}
}
#v3-ddx {
	height: 100px;
	margin: 0 25px;
	display: flex;
	align-items: center;
}
#v3-ddy {
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	height: 300px;
	margin: 0 25px 30px 25px;
}
#v3-ddy svg {
	position: relative;
	display: block;
	border: 1px #000000 solid;
	border-radius: 20px;
	box-shadow: 2px 2px rgba(0, 0, 0, 0.3);
	cursor: pointer;
}
#v3-ddy svg:hover {
	top: 2px;
	left: 2px;
	box-shadow: none;
}
.v3-pp {
	border-collapse: collapse;
	margin: 50px auto 25px auto;
}
.v3-pp td {
	padding: 3px 10px;
}
#v3-svg {
	display: block;
	position: relative;
	border: 1px #000000 solid;
	margin: 0 auto 30px auto;
	overflow: visible;
	box-sizing: border-box;
	z-index: 1;
}
#v3-show, #v3-ttl {
	margin: 25px auto;
	height: 50px;
	font-weight: bold;
	font-family: "consolas", "sublimetext";
	text-align: center;
}
#v3-ttl {
	display: inline-flex; /*inline-blockだとng*/
	align-items: center;
	padding: 5px 20px;
	border: 1px #000000 solid;
	border-radius: 25px;
	margin-top: 40px;
	font-size: 20px;
}
#v3-show {
	width: 400px;
	font-size: 18px;
}
#v3-add-del {
	display: flex;
	justify-content: center;
	margin: 30px auto;
	overflow: hidden;
}

#v3-btn-bx {
	text-align: center;
	height: 50px;
}
#v3-button {
	position: relative;
	display: inline-block;
	text-align: center;
	width: 70px;
	top: 0;
	left: 0;
	margin: 10px;
	padding: 5px 15px;
	box-shadow: 1px 3px rgba(0, 0, 0, 0.5);
	cursor: pointer;
	border: 1px #000000 solid;
	background-color: #FFA500;
	vertical-align: middle;
}
#v3-button:hover, #v3-button2:hover {
	top: 1px;
	left: 3px;
	box-shadow: none;
}
#v3-svg_sh polyline {
	fill: transparent;
	stroke-width: 1;
}
#v3-svg_sh polyline:nth-of-type(1) {
	stroke: green;
}
#v3-svg_sh polyline:nth-of-type(2) {
	stroke: blue;
}
#v3-svg_sh polyline:nth-of-type(3) {
	stroke: red;
	stroke-width: 3 !important;
	mix-blend-mode: normal;
}
#v3-svg_tx {
	cursor: pointer;
}
#v3-now {
	fill: transparent;
	stroke: black;
	stroke-width: 0;
}
#v3-now.ok {
	stroke-width: 1 !important;
	animation: v3_now 1.5s linear 0s infinite normal none running;
}
@keyframes v3_now {
	from, 25% {
		fill: red;
	}
	25%, 50% {
		fill: blue;
	}
	50%, 75% {
		fill: lime;
	}
	75%, to {
		fill: aqua;
	}
}




/*ver2*/
#v2-mevg-sd {
	width: 300px;
	height: 50px;
	border: 1px solid rgb(0, 0, 0);
	margin: 10px 25px;
	position: relative;
}
#v2-mevg-is {
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	box-sizing: border-box;
	border-right: 5px solid black;
	background-color: transparent;
	z-index: 1;
}
#v2-mevg-sh {
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	box-sizing: border-box;
	border-right: 1px solid rgb(0, 0, 0);
}
#v2-mevg {
	display: block;
	position: relative;
	border: 1px #000000 solid;
	margin-left: 75px;
	box-shadow: 2px 2px rgba(0, 0, 0, 0.3);
	cursor: pointer;
	background-color: #FFFF00;
}
#v2-mevg circle {
	fill: #ff0000;
	stroke: #000000;
	stroke-width: 3;
}
#v2-mevg path {
	fill: transparent;
	stroke: #0000FF;
	stroke-width: 40;
}
#v2-mevg:hover {
	top: 2px;
	left: 2px;
	box-shadow: none;
}
.v2-logvg {
	background-color : #000000;
	display : block;
	margin : 10px;
	border : 1px #ffffff solid;
	box-sizing : border-box;
	cursor : pointer;
}
.v2-logvg:hover {
	background-color : #ffffff;
	border : 1px #000000 solid;
}
.v2-logvg path {
	fill: transparent;
	stroke: #ffffff;
	stroke-width: 30;
}
.v2-logvg:hover path {
	stroke: #000000;
}
.v2-logvg circle {
	fill: #000000;
	stroke: #ffffff;
	stroke-width: 10;
}
.v2-logvg:hover circle {
	fill: #ffffff;
	stroke: #000000;
}
#v2-m-adj {
	margin-right: 100px;
}
#v2-log {
	margin: 30px auto;
	padding: 10px;
	border: 1px #000000 solid;
	box-sizing: border-box;
	width: 1000px;
	height: 300px;
	overflow-y: scroll;
	background-color: #000000;
	display: flex;
	align-items: flex-start;
	align-content: flex-start;
	flex-wrap: wrap;
}
#v2-log::-webkit-scrollbar {/*webkit*/
	display: none;
}
#v2-log {/*firefox*/
	scrollbar-width: none;
}
#v2-btn2-bx {
	text-align: center;
	height: 50px;
}
#v2-button2 {
	position: relative;
	display: inline-block;
	text-align: center;
	width: 70px;
	top: 0;
	left: 0;
	margin: 10px;
	padding: 5px 15px;
	box-shadow: 1px 3px rgba(0, 0, 0, 0.5);
	cursor: pointer;
	border: 1px #000000 solid;
	background-color: #00BFFF;
	vertical-align: middle;
}
.v2-ani, .v2-ani_li {
	background-color: #ff0000;
	animation-duration: 1.5s;
	animation-delay: 0s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: none;
	animation-play-state: running;
}
.v2-ani_li {
	background-color: transparent !important;
}
.v2-aniani {
	animation-name: v2-aniani;
}
@keyframes v2-aniani {
	from {
		width: 0;
	}
	75%, to {
		width: 100%;
	}
}
.v2-arw:hover {
	background-color: #ff0000;
}
.v2-arw:hover path {
	fill: #ffffff;
}
.v2-ico {
	background-color: #FF00FF;
}
#v2-vvdd {
	display: flex;
	justify-content: center;
	margin-right: 100px;
}
#v2-dd svg {
	box-sizing: border-box;
}
@media screen and (max-width: 1399px) {
	#v2-dd {
		display: none;
	}
}
#v2-ddx {
	height: 100px;
	margin: 0 25px;
	display: flex;
	align-items: center;
}
#v2-ddy {
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	height: 300px;
	margin: 0 25px 30px 25px;
}
#v2-ddy svg {
	position: relative;
	display: block;
	border: 1px #000000 solid;
	border-radius: 20px;
	box-shadow: 2px 2px rgba(0, 0, 0, 0.3);
	cursor: pointer;
}
#v2-ddy svg:hover {
	top: 2px;
	left: 2px;
	box-shadow: none;
}
.v2-pp {
	border-collapse: collapse;
	margin: 50px auto 25px auto;
}
.v2-pp td {
	padding: 3px 10px;
}
#v2-svg {
	display: block;
	position: relative;
	border: 1px #000000 solid;
	margin: 0 auto 30px auto;
	overflow: visible;
	box-sizing: border-box;
	z-index: 1;
}
#v2-show, #v2-ttl {
	height: 50px;
	line-height: 50px;
	margin: 25px auto;
	font-weight: bold;
	font-family: "consolas", "sublimetext";
	text-align: center;
}
#v2-ttl {
	display: inline-block;
	padding: 5px 20px;
	border: 1px #000000 solid;
	border-radius: 15px;
	margin-top: 40px;
	font-size: 20px;
}
#v2-show {
	width: 400px;
	font-size: 18px;
}
#v2-add-del {
	display: flex;
	justify-content: center;
	margin: 30px auto;
	overflow: hidden;
}

#v2-btn-bx {
	text-align: center;
	height: 50px;
}
#v2-button {
	position: relative;
	display: inline-block;
	text-align: center;
	width: 70px;
	top: 0;
	left: 0;
	margin: 10px;
	padding: 5px 15px;
	box-shadow: 1px 3px rgba(0, 0, 0, 0.5);
	cursor: pointer;
	border: 1px #000000 solid;
	background-color: #FFA500;
	vertical-align: middle;
}
#v2-button:hover, #v2-button2:hover {
	top: 1px;
	left: 3px;
	box-shadow: none;
}
#v2-svg_sh polyline {
	fill: transparent;
	stroke-width: 1;
}
#v2-svg_sh polyline:nth-of-type(1) {
	stroke: green;
}
#v2-svg_sh polyline:nth-of-type(2) {
	stroke: blue;
}
#v2-svg_sh polyline:nth-of-type(3) {
	stroke: red;
	stroke-width: 3 !important;
	mix-blend-mode: normal;
}
#v2-svg_tx {
	cursor: pointer;
}
#v2-now {
	fill: transparent;
	stroke: black;
	stroke-width: 0;
}
#v2-now.ok {
	stroke-width: 1 !important;
	animation: v2_now 1.5s linear 0s infinite normal none running;
}
@keyframes v2_now {
	from, 25% {
		fill: red;
	}
	25%, 50% {
		fill: blue;
	}
	50%, 75% {
		fill: lime;
	}
	75%, to {
		fill: aqua;
	}
}


/*ver1*/
#v1-svg {
	display: block;
	border: 1px #000000 solid;
	margin: 50px auto;
	overflow: visible;
}
#v1-show, #v1-ttl {
	margin: 25px auto;
	font-size: 20px;
	font-weight: bold;
	font-family: "consolas", "sublimetext";
	text-align: center;
}
#v1-ttl {
	display: inline-block;
	padding: 5px 20px;
	border: 1px #000000 solid;
	border-radius: 15px;
}












