@charset "UTF-8";
main a.ver1 {
  background-image: url(../pics/ver1.png);
}

main .step {
  position: relative;
  margin: 25px 0;
  padding: 60px 25px 25px 25px;
  background-color: #ffffdc;
  border: 1px black solid;
  text-indent: 0;
  font-size: 1rem;
}

main .step:before {
  content: "対策" !important;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 1.5rem;
  border-right: 1px black solid;
  border-bottom: 1px black solid;
  background-color: rgba(255, 0, 0, 0.3);
}

main .step ul, main .step ol {
  margin: 0 25px;
  border: none;
  display: block;
  padding: 0;
}

main .sup {
  vertical-align: super;
  font-size: smaller;
}

main .margin-left_25 {
  margin-left: 25px;
}

main iframe {
  display: block;
  margin: 25px 0;
}

main iframe#iframe1 {
  opacity: 0.5;
}

main iframe#iframe2 {
  opacity: 0.001;
}

main .red {
  color: red;
}

main .margin {
  margin: 25px 0;
}

main #ver1 {
  background-image: url(../pics/ver1.png);
}

main .check_cell {
  cursor: pointer;
}

main .check_cell.checked {
  background-image: url(../pics/チェック.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

main #soukan {
  margin-top: 25px;
  cursor: pointer;
}

main #soukan > div {
  border: 1px black solid;
  width: 100px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}

main #soukan > div:nth-of-type(1) {
  background-color: rgba(255, 0, 0, 0.3);
}

main #soukan > div:nth-of-type(1):hover {
  background-color: red;
  color: white;
}

main #soukan > div:nth-of-type(2) {
  background-color: rgba(0, 255, 0, 0.3);
}

main #soukan > div:nth-of-type(2):hover {
  background-color: yellow;
}

main #soukan > div:nth-of-type(3) {
  background-color: rgba(0, 0, 255, 0.3);
}

main #soukan > div:nth-of-type(3):hover {
  background-color: blue;
  color: white;
}

main .v-writing {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
}

main #ppl-table {
  margin: 50px 0;
}

main #ppl-table th, main #ppl-table td {
  padding: 5px 10px;
}

main #ppl-table caption {
  margin: 30px 0;
}

main #ppl-table tr:nth-of-type(2n+1) *:first-child {
  border: 1px black solid;
}

main #innovator-table {
  border-collapse: collapse;
  margin: 50px 0;
}

main #innovator-table th, main #innovator-table td {
  padding: 5px 10px;
}

main #innovator-table #chasm {
  color: white;
  background-color: black;
  border-radius: 50%;
}

main #innovator-table .v-writing {
  text-align: center;
  border-radius: 50%;
}

main #dev-wall {
  margin: 50px 0;
}

main #dev-wall th, main #dev-wall td {
  padding: 5px 10px;
}

main #dev-wall tr:nth-of-type(2n+1) *:first-child {
  border: 1px black solid;
}

main #ea-svg g {
  cursor: pointer;
}

main #dfd-table th {
  padding: 0 10px;
}

main #cf-table {
  margin: 50px 0;
}

main #cf-table th, main #cf-table td {
  padding: 5px 10px;
}

main #cf-table .v-writing {
  text-align: center;
  border: none !important;
  border-radius: 50%;
}

main #cf-table tr:nth-of-type(2n+1) *:nth-child(1), main #cf-table tr:nth-of-type(2n+1) *:nth-child(2) {
  border: 1px black solid;
}

main #line-bc {
  padding: 20px 10px;
  max-width: 650px;
  margin: 30px 0;
  text-align: right;
  font-size: 14px;
  background: #7da4cd;
  /*以下、②左側のコメント*/
}

main #line-bc * {
  text-align: left;
}

main #line-bc .left-comment {
  width: 100%;
  margin: 10px 0;
  overflow: hidden;
}

main #line-bc .left-comment .faceicon {
  float: left;
  margin-right: -50px;
  width: 40px;
}

main #line-bc .left-comment .faceicon img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

main #line-bc .left-comment .chatting {
  width: 100%;
  text-align: left;
}

main #line-bc .says {
  display: inline-block;
  position: relative;
  margin: 0 0 0 50px;
  padding: 15px;
  max-width: 400px;
  border-radius: 12px;
  background: #edf1ee;
}

main #line-bc .says:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px;
  left: -19px;
  border: 8px solid transparent;
  border-right: 18px solid #edf1ee;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
}

main #line-bc .mycomment {
  display: inline-block;
  position: relative;
  margin: 0 10px 0 0;
  padding: 15px;
  max-width: 400px;
  border-radius: 12px;
  background: #30e852;
  font-size: 15px;
}

main #line-bc .mycomment:after {
  content: "";
  position: absolute;
  top: 3px;
  right: -19px;
  border: 8px solid transparent;
  border-left: 18px solid #30e852;
  -webkit-transform: rotate(-35deg);
          transform: rotate(-35deg);
}

main #line-bc .right-imagine {
  position: relative;
  margin: 0 35px 10px 0;
  display: inline-block;
  text-align: left;
  padding: 15px;
  background: #30e852;
  border-radius: 30px;
  max-width: 400px;
}

main #line-bc .right-imagine:before {
  content: "";
  position: absolute;
  right: -40px;
  width: 13px;
  height: 12px;
  bottom: 35px;
  background: #30e852;
  border-radius: 50%;
}

main #line-bc .right-imagine:after {
  content: "";
  position: absolute;
  right: -22px;
  width: 20px;
  height: 18px;
  bottom: 30px;
  background: #30e852;
  border-radius: 50%;
}

main #line-bc .strong-bigger {
  font-size: 1.3rem;
  font-weight: bold;
}

main #design-table {
  margin: 30px 0;
}

main #design-table th {
  border: 1px black solid;
  padding: 5px 10px;
  cursor: pointer;
}

main #design-table td {
  text-align: center;
  font-weight: bold;
}

main table.from2-style {
  margin: 50px 0 25px 0;
}

main table.from2-style th, main table.from2-style td {
  text-align: center;
  border: 1px black solid;
}

main table.from2-style th {
  padding: 0 15px;
  white-space: nowrap;
}

main table.from2-style td {
  width: 100px;
}

main #warn-from2 {
  color: red;
}

main #result-from2 {
  font-size: 1.2rem;
  font-weight: bold;
}

main #input-from2 {
  display: block;
  border: 1px black solid;
  font-size: 20px;
  padding: 5px;
  border-radius: 0;
  margin: 25px 0;
}

main .bigger {
  font-size: 20px;
  font-weight: bold;
}

main .scroll {
  overflow-x: auto;
}

main table.from10-style {
  margin: 50px 0;
  border-spacing: 0 10px;
}

main table.from10-style caption {
  font-size: 20px;
  font-weight: bold;
}

main table.from10-style td {
  text-align: right;
  padding: 5px 25px;
}

main table.from10-style tr td:nth-of-type(2) {
  border-bottom: 1px black solid;
  border-left: 1px black solid;
}

main table.from10-style tr td:nth-of-type(3) {
  color: orange;
  text-align: center;
}

main table.from10-style tr:nth-last-of-type(1) td:nth-of-type(2) {
  border-bottom: none;
  border-left: none;
  color: red;
}

main #warn-from10 {
  color: red;
}

main #result-from10 {
  font-size: 1.2rem;
  font-weight: bold;
}

main #input-from10 {
  display: block;
  border: 1px black solid;
  font-size: 20px;
  padding: 5px;
  border-radius: 0;
  margin: 25px 0;
}

main #from10-scroll {
  max-height: 500px;
  overflow-y: auto;
}

main .algorythm-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 30px 0;
}

main .algorythm-container input {
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 25px;
  text-align: center;
  border: 1px black solid;
  border-radius: 0;
}

main .algorythm-container input::-webkit-outer-spin-button, main .algorythm-container input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

main #queue-div {
  display: inline-block;
  margin: 30px 0;
}

main #queue-div .queue-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #queue-div #queue-input {
  display: block;
  margin-right: 25px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 25px;
  text-align: center;
  border: 1px black solid;
  border-radius: 50%;
}

main #queue-div #queue-input2 {
  display: block;
  margin-right: 25px;
  color: red;
  font-weight: bold;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 25px;
  text-align: center;
  border: 1px black solid;
  border-radius: 50%;
}

main #queue-div #queue-body {
  width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  border-right: 1px black solid;
  border-left: 1px black solid;
  margin: 30px auto;
  min-height: 200px;
}

main #queue-div #queue-body div {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  border: 1px black solid;
  border-radius: 50%;
  margin: 5px;
}

main #stack-div {
  display: inline-block;
  margin: 30px 0;
  overflow-x: auto;
}

main #stack-div .stack-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #stack-div .stack-container #stack-separator {
  width: 10px;
  height: 50px;
  margin: 0 10px;
  background-color: black;
}

main #stack-div #stack-input {
  display: block;
  margin-right: 10px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 25px;
  text-align: center;
  border: 1px black solid;
  border-radius: 50%;
}

main #stack-div #stack-input2 {
  display: block;
  margin-left: 10px;
  color: red;
  font-weight: bold;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 25px;
  text-align: center;
  border: 1px black solid;
  border-radius: 50%;
}

main #stack-div #stack-body {
  width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  border-right: 1px black solid;
  border-bottom: 1px black solid;
  border-left: 1px black solid;
  margin: 30px auto;
  min-height: 200px;
}

main #stack-div #stack-body div {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  border: 1px black solid;
  border-radius: 50%;
  margin: 5px;
}

main .s-margin {
  margin: 15px 0;
}
/*# sourceMappingURL=part.css.map */